.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.course-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  box-shadow: 5px 5px 15px #e8e8e8;
}

.content-container {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  background-color: #ffffff;
  padding: 25px;
}

.course-details-image {
  width: 450px;
  height: 450px;
}

.loader-icon {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
